:root {
  --primary: #fff;
  --secondary: whiteSmoke;
  --color-text: #03a5ed
    /* --primary: #03a5ed; */
    /* --secondary: #9bcde2; */
    /* --color-text: #FFFFFF */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  overflow: hidden;
  color: var(--color-text);
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}