@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

button {
  padding: 0.5rem 1rem;
  color: var(--color-text);
  background: transparent;
  border: 2px solid var(--color-text);
  font-weight: 600;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: 0.1s linear;
  color: var(--primary);
  background: var(--color-text);
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
}
